* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

body{
  background-color: rgb(29, 28, 28);
}

header {
  overflow: hidden;
  background-color: rgba(68, 66, 66, 0);
  position: fixed;
  backdrop-filter: blur(5px);
  right: 0;
  top: 0;
  z-index: 1000;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 33px 9%;
}

.nav {
  display: flex;
}

.nav a {
  color: white;
  margin-left: 60px;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 3px solid transparent;
  transition: all 0.55s ease;
}

.nav a:hover {
  border-bottom: 3px solid white;
}

#logo {
  font-size: 30px;
  cursor: default;
  color: white;
  float: left;
  font-weight: 720;
}

#menu-icon {
  overflow: hidden;
  font-size: 30px;
  color: white;
  padding: 30px;
  z-index: 10001;
  cursor: pointer;
}

video {
  width: 100%;
  height: 590px;
  object-fit: fill;
  display: block;
  position: absolute;
  filter: brightness(70%) saturate(100%);
}

#container {
  position: block;
  width: 100%;
  height: 590px;
  object-fit: fill;
  overflow: hidden;
  display: block;
}

.video-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(0.5px);
  border-bottom: 2px solid rgb(140, 169, 87);
}

.video-overlay h2{
  font-size: 2vw;
  color: white;
  text-align: center;
}

.video-overlay p{
  font-size: 1vw;
  color: white;
  font-weight: 580;
  text-align: center;
}

#AboutMe{
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 0 10%;
}

.AboutMe-content{
  max-width: 600px;
}

.AboutMe-content h1,h2,p{
  margin-top: 60px;
}

.AboutMe-content h1{
  font-size: 56px;
  font-weight: 700px;
  line-height: 1.2;
  color: white;
}

.AboutMe-content h3{
  font-size: 32px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.142);
}

.AboutMe-content p{
  font-size: 16px;
  margin: 20px 0 40px ;
  color: white;
}

.AboutMe-image{
  filter: brightness(60%) contrast(100%);
  transition: transform 0.55s ease
}

.AboutMe-image img{
  margin-top: 55px;
  border: 1px solid rgba(37, 248, 0, 0.348);
  border-radius: 48%;
  background-color: rgb(48, 66, 45)
}

.AboutMe-image:hover{
  filter: brightness(80%) contrast(100%);
  transform: scale(1.1);
}
.AboutMe-image img:hover{
  border: 1px solid transparent;
}

footer {
  border-top: 2px solid rgba(140, 169, 87, 0.281);
  padding: 30px;
  margin-top: 40px;
  background-color: rgba(238, 247, 238, 0.03);
  color: white;
  text-align: center;
  font-size: 15px;
}

/* Layar HP */
@media screen and (max-width: 768px) {
  header {
    height: 50px;
    padding: 15px 5%;
    background-color: rgba(240, 248, 255, 0);
    backdrop-filter: none;
  }

  #logo{
    font-size: 20px;
  }

  .nav {
    display: none;
    flex-direction: column;
    align-items: center;
  }

  .nav a {
    margin: 10px 0;
    font-size: 18px;
    border-bottom: none;
  }

  #menu-icon {
    padding: 15px;
  }

  video {
    height: 300px; /* Sesuaikan ukuran video untuk layar kecil */
  }

  #container,
  .video-overlay {
    height: 300px; /* Sesuaikan tinggi container video dan overlay */
  }

  .video-overlay h2 {
    font-size: 18px;
  }

  .video-overlay p {
    font-size: 10px;
  }

  #AboutMe {
    flex-direction: column;
    padding: 0 5%;
    height: auto;
  }

  .AboutMe-content {
    max-width: 100%;
    text-align: center;
  }

  .AboutMe-content h1 {
    font-size: 36px;
  }

  .AboutMe-content h3 {
    font-size: 24px;
  }

  .AboutMe-content p {
    font-size: 14px;
  }
  .AboutMe-image img {
    max-width: 100%;
  }

  footer {
    padding: 8px;
    font-size: 8px;
  }
}

/* Layar Komputer */
@media screen and (min-width: 1281px) {
  header {
    overflow: hidden;
    background-color: rgba(68, 66, 66, 0);
    position: fixed;
    backdrop-filter: blur(5px);
    right: 0;
    top: 0;
    z-index: 1000;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
  }

  .nav {
    display: flex;
  }

  .nav a {
    color: white;
    margin-left: 60px;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 3px solid transparent;
    transition: all 0.55s ease;
  }
  
  .nav a:hover {
    border-bottom: 3px solid white;
  }

  #menu-icon {
    padding: 15px;
  }

  video {
    width: 100%;
    height: 999px;
    object-fit: fill;
    display: block;
    position: absolute;
    filter: brightness(70%) saturate(100%);
    -webkit-filter: brightness(70%) saturate(100%);
}

  #container{
    position: block;
    width: 100%;
    height: 999px;
    object-fit: fill;
    overflow: hidden;
    display: block;
  }

  .video-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(0.5px);
    border-bottom: 2px solid rgb(140, 169, 87);
  }

  .video-overlay h2 {
    font-size: 35px;
  }

  .video-overlay p {
    font-size: 25px;
  }

  .AboutMe-image{
    filter: brightness(60%) contrast(100%);
    transition: transform 0.55s ease;
    margin-left: 400px;
  }
  
  .AboutMe-image img{
    border: 1.2px solid rgb(255, 255, 255);
    border-radius: 60%;
    background-color: rgba(41, 41, 26, 0.685);
    width: 525px;
    box-shadow: 0 0 100px white;
  }
  
  .AboutMe-image:hover{
    filter: brightness(80%) contrast(100%);
    transform: scale(1.1);
    -webkit-filter: brightness(80%) contrast(100%);
}
  .AboutMe-image img:hover{
    border: 1px solid transparent;
  }

  #AboutMe{
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 0 10%;
  }
  
  .AboutMe-content{
    max-width: 600px;
  }

  .AboutMe-content h1{
    font-size: 80px;
    font-weight: 700px;
    line-height: 1.2;
    color: white;
  }
  
  .AboutMe-content h3{
    font-size: 52px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.575);
  }
  
  .AboutMe-content p{
    font-size: 18px;
    margin: 20px 0 40px ;
    color: rgba(255, 255, 255, 0.609);
  }
}
